@import "azure-devops-ui/Core/_platformCommon.scss";

#root {
    overflow: hidden;
}

.content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-green {
    background-color: #00643a;
}

.bg-red {
    background-color: #e60017;
}

.title {
    font-size: $fontSizeMS;
    margin: 0
}

.main-content {
    padding-top: 20px;
    padding-right: 3px;
    padding-left: 3px;
}

.status {
    font-size: $fontSizeMM;
    padding-bottom: 7px;
}
