@import "azure-devops-ui/Core/_platformCommon.scss";

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.select-label {
  margin-bottom: 8px;
  color: var(--text-secondary-color, rgba(0, 0, 0, .55));
}

.error-message {
  color: $error-text;
  font-size: 12px;
  line-height: 16px;
}